dist: xenial
language: python
cache: pip
python:
    - "3.7.2"
install:
    - pip install pipenv --upgrade
    - pipenv install --dev
script:
    - make test
after_success:
    - codecov
env:
    - PIPENV_IGNORE_VIRTUALENVS=1
