[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyTelegramBotAPI = "*"
markovify = "*"

[dev-packages]
ipdb = "*"

[requires]
python_full_version = "3.6.4"
