[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyTelegramBotAPI = "*"
markovify = "*"
dataset = "*"
cachetools = "*"
psycopg2-binary = "*"

[dev-packages]
ipdb = "*"

[requires]
python_full_version = "3.7.0"
